<section class="main">
    <div class="login-container">
        <p class="title">Welcome to ASF ePOS</p>
        <div class="separator"></div>
        <p class="welcome-message">Ver. 03.03.0335</p>
        <p class="welcome-message">Thursday 16 February, 2023</p>

        <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-control">
                <input type="password" placeholder="Password" #password formControlName="password">
                <i class="fas fa-lock"></i>
                <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                <mat-password-strength
                    #passwordComponent
                    (onStrengthChanged)="onStrengthChanged($event)"
                    [password]="password.value"
                >
                </mat-password-strength>                

                <mat-password-strength-info
                    [passwordComponent]="passwordComponent">
                </mat-password-strength-info>
            </div>
            <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>             -->
            <div class="form-control">
                <input type="password" placeholder="Confirm Password" formControlName="confirmpassword">
                <i class="fas fa-lock"></i>
                <fa-icon [icon]="['fas', 'lock']"></fa-icon>
            </div>
            <div class="buttons-container">
                <button class="primary" [disabled]="loading">Save</button>
                <button class="cancel" [disabled]="loading" (click)="onCancel()">Cancel</button>
            </div>
        </form>

        <p class="footer">© 2008 Data Quest sal. All rights reserved.</p>
    </div>
</section>