<section class="main">
    <div class="login-container">
        <p class="title">Welcome to ASF ePOS</p>
        <div class="separator"></div>
        <p class="welcome-message">Ver. 03.03.0335</p>
        <p class="welcome-message">Thursday 16 February, 2023</p>

        <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-control row" *ngIf="!this.f['hasquestion'].value">
                <div class="col">
                    <input type="text" placeholder="Key1" formControlName="oldkey1" class="uppercase" readonly>
                </div>
                <div class="col">
                    <input type="text" placeholder="Key2" formControlName="oldkey2" class="uppercase" readonly>
                </div>
                <div class="col">
                    <input type="text" placeholder="Key3" formControlName="oldkey3" class="uppercase" readonly>
                </div>
                <div class="col">
                    <input type="text" placeholder="Key4" formControlName="oldkey4" class="uppercase" readonly>
                </div>
            </div>
            <div class="form-control row" *ngIf="!this.f['hasquestion'].value">
                <div class="col">
                    <input type="text" placeholder="Key1" formControlName="newkey1" class="uppercase">
                </div>
                <div class="col">
                    <input type="text" placeholder="Key2" formControlName="newkey2" class="uppercase">
                </div>
                <div class="col">
                    <input type="text" placeholder="Key3" formControlName="newkey3" class="uppercase">
                </div>
                <div class="col">
                    <input type="text" placeholder="Key4" formControlName="newkey4" class="uppercase">                
                </div>
            </div>
            <div class="form-control" *ngIf="this.f['hasquestion'].value">
                <input type="text" placeholder="question" formControlName="question" readonly>
            </div>
            <div class="form-control" *ngIf="this.f['hasquestion'].value">
                <input type="text" placeholder="answer" formControlName="answer">
            </div>
            <div class="buttons-container">
                <button class="primary" [disabled]="loading">Reset</button>
                <button class="cancel" [disabled]="loading" (click)="onCancel()">Cancel</button>
            </div>
        </form>

        <p class="footer">© 2008 Data Quest sal. All rights reserved.</p>
    </div>
</section>
